[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dit Teo Nguyen (diszell2008)
[access "refs/for/refs/*"]
	read = group user/Dit Teo Nguyen (diszell2008)
	push = group user/Dit Teo Nguyen (diszell2008)
	label-Code-Review = -2..+2 group user/Dit Teo Nguyen (diszell2008)
	label-Verified = -1..+1 group user/Dit Teo Nguyen (diszell2008)
	rebase = group user/Dit Teo Nguyen (diszell2008)
	removeReviewer = group user/Dit Teo Nguyen (diszell2008)
	submit = group user/Dit Teo Nguyen (diszell2008)
[access "refs/heads/*"]
	read = group user/Dit Teo Nguyen (diszell2008)
	create = group user/Dit Teo Nguyen (diszell2008)
	push = +force group user/Dit Teo Nguyen (diszell2008)
	pushMerge = group user/Dit Teo Nguyen (diszell2008)
[access "refs/tags/*"]
	push = +force group user/Dit Teo Nguyen (diszell2008)
	pushTag = group user/Dit Teo Nguyen (diszell2008)
	pushSignedTag = group user/Dit Teo Nguyen (diszell2008)
